{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br>
<div class="container" align="center">
    <h2><strong>{{ name }}</strong></h2>
</div>

    <div class="row row-flex">


            <div class="col-xs-10 col-xs-offset-1 display ">


                    <p class="text-center">{{description}} <form method="post">
    <!-- course -->
      <div class="mix col-lg-3 col-md-4 col-sm-6 web">
        <div class="course-item">
          <div class="course-thumb set-bg" data-setbg="{% static 'webuni/img/courses/45.jpg' %}">
            <iframe width="100%" height="290" src="https://www.youtube.com/embed/V68VePj0F5A?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="course-info">
            <div class="course-text">
              <h5>Algèbre</h5>
              <p>Mathématique</p>
              <div class="students">Classe 3</div>
            </div>
            <div class="course-author">
              <div class="ca-pic set-bg" data-setbg="{% static 'webuni/img/authors/46.jpg' %}"></div>
              <p>James TANTON, <span>Enseignant</span></p>
            </div>
          </div>
        </div>
      </div></p>

            </form> </div>

    </div>
{% endblock %}